/* ***font*** */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html {
	font-family: 'LotteMartDream', sans-serif;
}

/* ***normalize*** */
body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* ***lib*** */
.hover-underline:hover {
	text-decoration: underline;
}

.flex {
	display: flex;
}

.flex-jc-c {
	justify-content: center;
}

.flex-ai-c {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.flex-grow-1 {
	flex-grow: 1;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.height-100p {
	height: 100%
}

.min-height-100vh {
	min-height: 100vh;
}

.block {
	display: block;
}
.none{
	display: none;
}
.bd-red {
	border: 3px solid red;
}

.bd-yellow {
	border: 3px solid yellow;
}

.bd-green {
	border: 3px solid lightgreen;
}

.bd-blue {
	border: 3px solid blue;
}

.bgc-pink {
	background-color: pink;
}

/* ***custom*** */
.con-min-width {
	min-width: 1200px;
	padding:0 30px
}

.con {
	width: 1200px;
}

/* **logobar begins */
.logo-bar {
	background-color: black;
	color: white;
	height: 150px;
}
/* logobar ends** */

/* **logo begins */
.logo {
	font-size: 4rem;
}

.logo>span>span {
	color: brown;
}

.logo>i {
	color: brown;
	margin-right: 15px;
}

.logo-small {
	font-size: 2rem;
}
/* logo ends** */

/* **menubar begins */
.menu-bar {
	background-color: black;
	color: white;
}

.menu-bar__menu-1>ul>li {
	width: 25%;
	position: relative;
}

.menu-bar__menu-1 ul>li>a {
	text-align: center;
	padding: 20px 0px;
	font-weight: bold;
	font-size: 1.2rem;
}

.menu-bar__menu-1 ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: -4px;
	width: 100%;
	background-color: black;
	border: 4px solid black;
	border-radius: 0 0 10px 10px;
	z-index: 10;
}

.menu-bar__menu-1>ul>li:hover>a {
	border-radius: 15px 15px 0 0;
}

.menu-bar__menu-1 ul>li:hover>a {
	background-color: white;
	color: brown;
}

.menu-bar__menu-1 ul ul>li:hover>a {
	background-color: brown;
	color: springgreen;
}

.menu-bar__menu-1>ul>li:hover>ul {
	display: block;
}

.menu-bar__menu-1>ul ul>li:last-child>a {
	border-radius: 0 0 7px 7px;
}
/* menubar ends** */

/* **titlebar begins */
.title-bar {
	margin-top: 30px;
	margin-bottom: 30px;
}
/* titlebar ends** */

/* **bottombar begins */
.bottom-bar {
	margin-top: 30px;
	background-color: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.bottom-bar__site-info {
	margin-left: 20px;
}
/* bottombar ends** */

/* **article list starts */
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width));
}

.article-list > * > div {
  display:flex;
}

.article-list > header > div > div {
  position:relative;
}

.article-list > header > div > div:not(:last-child)::after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:1px;
  height:10px;
  background-color:black;
}

.article-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list > main .article-list__cell-title {
  text-align:left;
  padding-left:10px;
}

.article-list > main > div {
  border-top:1px solid black;
}
/* article list ends** */

/* **article list page menu starts */
.article-page-menu {
  margin-top:20px;
}

.article-page-menu > ul > li > a {
  padding:7px;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child) > a {
  border:1px solid transparent;
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  border-color:#afafaf;
}

.article-page-menu__link--selected {
  color:red;
}
/* article list page menu ends** */

/* **article detail starts */
.article-detail > * {
  border-bottom:1px solid black;
  padding-bottom:20px;
  padding-top:20px;
}

.article-detail__title {
  font-size:1.2rem;
  padding-top:0;
}

.article-detail__sub-info > * {
  margin-right:15px;
}

.article-detail__menu > a {
  margin-right:15px;
}
/* article detail ends** */
