/* font */
@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
}

html {
  font-family: "Cutive Mono", monospace;
}

/*normalize*/
body, ul, li{
  margin:0;
  padding:0;
  list-style:none;
}
a{
  text-decoration:none;
  color:inherit;
}

/*lib*/
.flex{
  display:flex;   
}
.flex-jc-c{
  justify-content:center;
}
.flex-jc-sb{
  justify-content:space-between;
}
.flex-jc-sa{
  justify-content:space-around;
}
.flex-ai-c{
  align-items:center;
}
.flex-column{
  flex-direction:column;
}
.flex-grow-1{
  flex-grow:1;
}
.con{
  margin-left:auto;
  margin-right:auto;
}
.height-100p{
  height:100%
}
.min-height-100vh{
  min-height:100vh
}
.hover-underline:hover{
	text-decoration:underline;
}
.hover-bold:hover{
	font-weight:bold;
}
.block{
  display:block;
}
.bd-red{
  border:3px solid red;
}
.bd-yellow{
  border:3px solid yellow;
}
.bd-green{
  border:3px solid lightgreen;
}
.bd-blue{
  border:3px solid blue;
}
.bd-pink{
  border:3px solid pink;
}
/*custom*/
.con-min-width{
  min-width:1200px;
}
.con{
  width:1200px;
}

/* logobar begins */
.logo-bar {
	color: black;
	height: 150px;
}
/* logobar ends */

/* logo begins */
.logo {
	font-size: 3rem;
	font-family:none;
  	font-weight:bold;
}

.logo>img {
	width: 110px;
	height: 110px;
	margin-right: 50px;
	z-index: 10;
}

.logo>span>span {
	color: #3399ff;
}

.logo-small {
	font-size: 2rem;
}

.logo-small>img {
	width: 60px;
	height: 60px;
	margin-right: 28px;
}
/* logo ends */

/* menubar begins */
.menu-bar {
	font-size:1.2rem;
 	background-color: #3399ff;
	color: white;
  	font-weight: bold;
  
}

.menu-bar__menu-1>ul>li {
	width: 25%;
	position: relative;
}

.menu-bar__menu-1 ul>li>a {
	text-align: center;
	padding: 10px 0px;
}

.menu-bar__menu-1 ul ul {
	display:none;
  	position: absolute;
	top: 100%;
	width:100%;
	/*background: rgba(80, 188, 223, 0.6);*/
  	background: rgba(0, 0, 0, 0.8);
	border: 2px solid #3399ff;
	border-radius: 20px;
}

.menu-bar__menu-1>ul>li:hover>a {
	border-radius: 20px;
  
}

.menu-bar__menu-1 ul>li:hover>a {
	background-color: white;
  	border-radius: 20px;
	color: #3399ff;
  
}

.menu-bar__menu-1>ul>li:hover>ul {
	display: block;
}

.menu-bar__menu-1>ul ul a{
  	padding:8px;
}

.menu-bar__menu-1>ul ul>li:last-child>a {
	border-radius: 20px;
}

.menu-bar__menu-1>ul ul>li:hover>a>span {
	text-decoration: underline;
}
/*menubar ends*/


.main{
  	margin-left:30px;
}

/*titlebar begins*/
.title-bar{
	 margin-top:30px;
	 margin-bottom:30px;
}
/*titlebar ends*/

/* footer begins */
.footer {
	margin-top: 30px;
	border-top: 1px solid #3399ff;
  	border-width:2px;
	padding:15px 30px;
 
}
.footer__site-info{
  	flex-direction:column;
  	font-weight:none;
}
.footer__personal-info{
  	padding-bottom:15px;
}  

.footer__personal-info>span:nth-of-type(2n){
  	color: #3399ff;
  	font-weight:bold
}

.footer__links>ul{
	font-weight:bold;
  	display: flex;
  	flex-direction:column;
  
}
.footer__links>ul>li{
  	margin: 5px;
  	font-size:1.05rem;
}
.footer__links>ul>li:hover>a{
  	color: #3399ff;
}
.footer__links>ul>li:hover span{
  	text-decoration: underline;
}
/* footer ends */

/* articlelist starts */
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width));
}

.article-list > * > div {
  display:flex;
}

.article-list > header > div > div {
  position:relative;
}

.article-list > header > div > div:not(:last-child)::after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:1px;
  height:10px;
  background-color:black;
}
.article-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list > main .article-list__cell-title {
  text-align:left;
  padding-left:10px;
}

.article-list > main > div {
  border-top:1px solid black;
}
/* article list ends** */

/* **article list page menu starts */
.article-page-menu {
	margin-top: 20px;
}

.article-page-menu>ul>li>a {
	padding: 7px;
}

.article-page-menu>ul>li:not(.hover-bold)>a {
	border: 1px solid transparent;
	padding-left: 0;
	padding-right: 0;
	min-width: 30px;
	justify-content: center;
}

.article-page-menu>ul>li:not(.hover-bold):hover>a {
	border-color: #afafaf;
}

.article-page-menu__link--selected {
	color: red;
}
/* article list page menu ends** */

/* articledetail begins */
.article-detail>* {
  	border-bottom: 1.5px solid #3399ff;
  	padding:15px 0;
}

.article-detail>.article-detail__title{
  	border: none;
  	padding:0;
  	margin-bottom:5px;
}
.article-detail__sub-info{
	padding-top:0;
	font-size:0.8rem;
}
.article-detail__sub-info span span{
  	font-weight:bold;
}
.article-detail__menu{
  	border: none;
}
.article-detail__menu>a {
	margin-right: 15px;
}
article-detail__menu>a:hover {
	font-weight:bold;
}
/* articledetail ends */